<div class="home-wrapper">
  <p-menubar [model]="menuItems">
    <ng-template pTemplate="start">
      <p-image src="assets/logo.png" alt="logo" width="80"></p-image>
    </ng-template>
  </p-menubar>

  <section class="hero">
    <div class="hero-inner">
      <p-image src="assets/hero.png" alt="hero" width="400"></p-image>
      <div class="search">
        <label class="p-float-label">
          <input id="search" pInputText [(ngModel)]="searchText"/>
          <span>Buscar servicios</span>
        </label>
        <button pButton type="button" label="Buscar" (click)="onSearch()"></button>
      </div>
    </div>
  </section>

  <section id="servicios" class="cards">
    <p-card *ngFor="let s of services" [style]="{'width':'300px','margin':'1rem'}">
      <ng-template pCardHeader>
        <p-image [src]="s.img" alt="service" width="100%"></p-image>
      </ng-template>
      <ng-template pCardTitle>
        {{s.title}}
      </ng-template>
      <ng-template pCardContent>
        <p>{{s.desc}}</p>
      </ng-template>
      <ng-template pCardFooter>
        <button pButton label="Conocer mas +" (click)="window.location.href='/details'"></button>
      </ng-template>
    </p-card>
  </section>

  <section class="accordion">
    <p-accordion>
      <p-accordionTab *ngFor="let s of services" [header]="s.title">
        {{s.desc}}
      </p-accordionTab>
    </p-accordion>
  </section>

  <footer class="app-footer">
    Diseñado por: NombreApellido - codigoEstudiante
  </footer>
</div>
